.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  h1 {
    font-size: 4em;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 0 #ddd;
  }
  